.dashboardTopWrap {
    background: #20252B;
    color: #FFF;
    border-radius: 8px;
}

.currencyUSDValue {
    color: var(--chart-green);
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}

.currencyValuesWrap {
    overflow: auto;
}

.currencyValues {
    border-left: 1px solid rgba(234, 240, 254, 0.2);
}

.currencyValuesText {
    font-size: 12px;
    color: var(--black-tin-3);
    font-weight: 500;
}

.currencyValues_Values {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-wrap: nowrap !important;
}

.currencyValues_change {
    color: var(--chart-green) !important;
}
